<div class="jumbotron text-center">
  <div class="container">
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
    <h1><strong>¡Servicio Profesional<br>Garantizado!</strong></h1>
    <p class="text-faded mb-5">TecnicoaCR Professional Services puede ofrecerle total cobertura en servicios informaticos, cotice con nosotros ¡sin ningún compromiso!</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span> Cotizemos </a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-download"></span> Saber más </a>
  </div>
</div>
