<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="glyphicon glyphicon-globe"></span> Bienvenidos a TecnicoaCR</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Inicio</a>
      </li>
      <li>
        <a href="#about"><span class="glyphicon glyphicon-user"></span> Nosotros</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Servicios Profesionales <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"> Seguridad electrónica </a></li>
            <li class="divider"></li>
            <li><a href="#"> Seguridad informatica </a></li>
          </ul>
      </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-send"></span> Proyectos <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"> Redes </a></li>
          <li class="divider"></li>
          <li><a href="#"> CCTV </a></li>
        </ul>
    </li>
    <li>
      <a href="#contact"><span class="glyphicon glyphicon-phone"></span> Contacto</a>
    </li>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a>
      </li>
    </ul>
    </ul>
  </div>
</nav>
